.img1{
    height: 100%;
}

.height{
    height: 550px;
}

.height1{
    height: 550px;
}


.rnd{
    border-radius: 0px;
    /* padding: -1px 0px; */
    background-color: #000;
    color: #fff;
}

.login{
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-weight: 500;
}

.login:hover{
    color: #fc8019; 
}



/* Bootstrap */

.p-5 {
    padding: 4rem!important;
}

.ps-5 {
    padding-left: 21rem!important;
}

.pe-5 {
    padding-right: 11rem!important;
}

.anchor{
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

.anchor:hover{
    color: #fc8019;
}

.btn1{
    border-radius: 0px;
    padding: 0px -1px;
    background-color: #000;
}

.btn1:hover{
    border-radius: 0px;
    padding: 0px -1px;
    background-color: #000;
}


#spin {
    color: #000;
  }
  
  #spin:after {
    content:"";
    animation: spin 25s linear infinite;
  }

  @keyframes spin {
    0% { content:"Movie Marathon?";}
    10% { content:"Unexpected Guest?";}
    20% { content:"Late night at office?";}
    30% { content:"Hungry?";}
    40% { content:"Game night?";}
    50% { content: "Cooking gone wrong?"; }
    60% { content: "Swiggy"; }
    70% { content: "Lets enjoy"; }
    80% { content: "Variant Dishes"; }
    90% { content: "Welcome"; }
    100% { content: "Everyone"; }
  }



.inputBox{
    border-radius: 0px;
    padding: 17px 15px;
    color: #686b78;
}

.sPan{
    border-radius: 0px;
    background-color: #fc8019;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}


.sPan{
    border-radius: 0px;
    background-color: #fc8019;
    color: #fff;
    padding: 18px;
}


.main{
    background-color: #2b1e16;
}

.ms-5 {
    margin-left: 9rem!important;
}

.me-5{
    margin-right: 18rem!important;
}

.ms-3 {
    margin-left: 9rem!important;
}

.ms-4{
    margin-left: 1.5rem!important;
}

.me-4{
    margin-right: 9.5rem!important;
}

.all a{
    padding: 0px 0px;
    margin-left: 25px;
}






